<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8"/>
        <title></title>
        <link rel="stylesheet" href="/css/main.css" type="text/css"/>
        <link rel="stylesheet" href="/css/profile.css" type="text/css"/>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    </head>
    <body>

        <%- include("partials/header.ejs") %>
        <main class="main-content">
            <div class="profile-container">
                <h1>Hello <%= username %>!</h1>
                <h2>Profile Info</h2> <hr/>
                <ul style="text-indent: 4ch;">
                    <li>Email address: <%= username %></li>
                    <li>Password: <b>********</b></li>
                    <li><button id="change-password-button" class="project-banner-button">Change Password</button></li>
                </ul>
                <h2>Some Statistics About You!</h2> <hr/>
                <p>You've done all these great things: </p>
                <ul style="text-indent: 4ch;">
                    <li>Created <b><%=userStats.totalProjectsCreated%></b> projects!</li>
                    <li>Joined <b><%=userStats.totalJoinedProjects%></b> projects!</li>
                    <li>Created <b><%=userStats.totalCreatedBugs%></b> issues!</li>
                    <li>Resolved <b><%=userStats.totalArchivedBugs%></b> issues!</li>
                    <li>Permanently deleted <b><%=userStats.totalDeletedBugs%></b> issues!</li>
                </ul>
                <h2>Your Projects</h2><hr/>
                <ul>
                    <% if (locals.projects) { %>
                        <% projects.forEach(project => { %>
                            <li class="profile-project-listing">
                                <h4><%=project.name%></h4>
                                <% if (project.ownerUsername == username) { %>
                                    <button class="project-action-button">Delete!</button>
                                    <form class="popup" method="post" action="/profile/deleteProject">
                                        <input name="projectId" value="<%=project.id%>" type="hidden" />
                                        <p>Are you sure you want to delete <b><%=project.name%>?</b></p>
                                        <p><i>This action is permanent and cannot be undone!</i></p>
                                        <div style="display: flex;justify-content: space-between;">
                                            <button class="overlay-button-yesno button-green" type="submit">Yes</button>
                                            <button class="hide-popup-overlay-button overlay-button-yesno button-red" type="button">No</button>
                                        </div>
                                    </form>
                                <% } else { %>
                                    <button class="project-action-button">Leave!</button>
                                    <form class="popup" method="post" action="/profile/leaveProject">
                                        <input name="projectId" value="<%=project.id%>" type="hidden" />
                                        <p>Are you sure you want to leave <b><%=project.name%>?</b></p>
                                        <p><i>You won't be able to join back unless invited!</i></p>
                                        <div style="display: flex;justify-content: space-between;">
                                            <button class="overlay-button-yesno button-green" type="submit">Yes</button>
                                            <button class="hide-popup-overlay-button overlay-button-yesno button-red" type="button">No</button>
                                        </div>
                                    </form>
                                <% } %>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <h4>There was an error loading your projects :(</h4>
                    <% } %>
                </ul>
            </div>
        </main>
        
        <div class="popup-overlay-background">
            <div class="popup" id="popup-overlay">
                <p>An email was sent to <%=username%>!</p>
                <p>Check your email for a link to change your password</p>
                <button class="hide-popup-overlay-button overlay-button">Ok</button>
            </div>
        </div>

        <%- include ("partials/footer.ejs") %>

        <script>
            $("#change-password-button").on("click", () => {
                $.post("/profile/changePassword", {}, (data, status) => {
                    $(".popup-overlay-background").show();
                    $("#popup-overlay").slideDown();
                    //$("#popup-overlay").children("p").remove();
                    $("#popup-overlay").css("display", "flex");

                    if (status == "success"){
                        $("<p>An email was sent to <%=username%>!</p><p>Check your email for a link to change your password</p>").insertBefore("#hide-popup-overlay-button");
                    } else {
                        $("<p>There was an issue sending an email to change your password!</p><p>Please try again...</p>").insertBefore("#hide-popup-overlay-button");
                    }
                });
            });

            $(".hide-popup-overlay-button").on("click", function() {
                console.log($(this));
                console.log($(this).parent());
                $(this).closest(".popup").slideUp(150, () => {
                    $(".popup-overlay-background").hide(100);
                });
            });

            $(".project-action-button").on("click", function() {
                $(".popup-overlay-background").show();
                $(this).next().slideDown();
                $(this).next().css("display", "flex");
            });
        </script>
    </body>
</html>